.info-box .content div {
    text-transform: uppercase;
}

th {
    text-align: center;
}

.input-group .input-group-addon {
    padding-left: 15px;
    color: white;
    background-color: #4caf50;
    width: 30%;
}

.input-group input {
    color: black;
    background-color: #e0e0e0;
    text-align: right;
}

section {
    overflow: scroll;
}

.tabcontrol .style-tabs .ui-tabs-nav .icon { 
    background-color: #156d21;
    background-position: center 3px;
    padding-top: 40px;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    width: 80px;
}

.ui-tabs .ui-tabs-nav
{
background: lightblue;
}